body {
  background: #4b6cb7; 
  background: -webkit-linear-gradient(to right, #182848, #4b6cb7);
  background: linear-gradient(to right, #182848, #4b6cb7);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #f5f5f5;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

/* .nav-wrapper {

} */

.nav-ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.nav-ul li {
  border: 1px solid #ffffff;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
}
.nav-ul li:hover {
  background: linear-gradient(90deg, transparent 0%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 80%, transparent 100%);
  text-shadow: 0 0 5px black;
  cursor: pointer;
}

.nav {
  display: flex;
  
}

.title-wrapper {
  margin: 150px 50px;
}

h1 {
  font-size: 6rem;
  margin: 20px 0;
}

.word-wrap {
  font-size: 2.5rem;
}
